<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
  <test thread-count="5" name="Test1">
  <parameter name = "firstName" value = "sobia"/>
  <parameter name = "emailAdd" value = "sobiaasfas123saf456@gmail.com"/>
  <parameter name = "browser" value = "chrome"/>
    <classes>
      <class name="com.automationPractice.RegistationOfAutomationPractice"/>  	
    </classes>
  </test> <!-- Test -->
 
  
  <test thread-count="5" name="Test2">
    <parameter name = "firstName" value = "GK"/>
    <parameter name = "emailAdd" value = "gk123344@gmail.com"/>
    <parameter name = "browser" value = "firefox"/>
    <classes>
      <class name="com.automationPractice.RegistationOfAutomationPractice"/>
    </classes>
  </test> 
  
<!--   <test thread-count="5" name="Test3"> -->
<!--     <parameter name = "firstName" value = "GK"/> -->
<!--     <parameter name = "emailAdd" value = "gk123344@gmail.com"/> -->
<!--     <parameter name = "browser" value = "ie"/> -->
<!--     <classes> -->
<!--       <class name="com.automationPractice.RegistationOfAutomationPractice"/> -->
<!--     </classes> -->
<!--   </test> Test -->
</suite> <!-- Suite -->


